.container {
    margin-top: 20px!important;
    margin-bottom: 20px !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height: 300px !important;
}
#myCarousel {
    margin-top: 20px !important;
    width: 1133px !important;
    height: 300px !important;
}
footer {
    margin: 20px;
    background-color: cadetblue;
}
.container-fluid {
    display: block;
}
.copyright-left{
    float: left;
    margin: 20px;
}
.copyright-left span{
    text-align: center;
}
.contact-us{
    margin: 20px;
    display: block;
}
.contact-us ul{
    float: right;
    display: block;
    list-style-type: none;
}
.contact-us ul i{
    width: 20px;
    height: 15px;
}
.video-center {
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.scrollToTop{
    width:100px;
    height:130px;
    padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    /*khoang cach sovoi top*/
    top:600px;
    /*khoang cach so voi right*/
    right:120px;

    display:none;
    background: url("../images/arow-down.png") no-repeat 0px 20px transparent;
    /*background-image: url("../images/arrow-up.jpg");*/
    /*background-color: aqua;*/
}
.scrollToTop:hover{
    text-decoration:none;
}

.fr-circle {
    border-radius: 50% !important;
}
.fr-row:after {
    content:  "";
    display: table;
    clear: both;
}
.fr-col{
    float: left;
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;
}
.fr-round {
    border-radius: 4px !important;
}
@media only screen and (min-width: 601px) {
    .fr-col.m3 {
        width: 24.99999%;
    }
    .fr-col.m7 {
        width: 58.33333%
    }
    .fr-col.m2 {
        width: 16.66666%
    }
    .fr-col.m12 {
        width: 99.99999%
    }
}
.fr-content {
    max-width: 980px;
    margin: auto
}
.fr-card-2 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.fr-white{
    color : #000 !important;
    background-color: #fff !important;
}
.fr-half {
    float: left;
    width: 50%;
    padding: 1px;
}

.fr-border {
    border: 1px solid #ccc !important;
}

.fr-padding {
    padding: 8px 16px !important
}

.fr-container {
    padding: 0.01em 16px
}

.fr-show {
    display: block !important;
}

.fr-theme-d1 {
    color: #fff !important;
    background-color: #57707d !important
}

.fr-accordion-content {
    cursor: auto;
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.fr-btn-block {
    width: 100%;
}

.fr-center {
    text-align: center;
}
.fr-green {
    color: #ffffff !important;
    background-color: #4CAF50 !important;
}
.fr-red {
    color: #fff!important;
    background-color: #f44336!important;
}
.fr-btn-block:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}