.container {
    margin-top: 20px!important;
    margin-bottom: 20px !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height: 300px !important;
}
#myCarousel {
    margin-top: 20px !important;
    width: 1133px !important;
    height: 300px !important;
}
footer {
    margin: 20px;
    background-color: cadetblue;
}
.container-fluid {
    display: block;
}
.copyright-left{
    float: left;
    margin: 20px;
}
.copyright-left span{
    text-align: center;
}
.contact-us{
    margin: 20px;
    display: block;
}
.contact-us ul{
    float: right;
    display: block;
    list-style-type: none;
}
.contact-us ul i{
    width: 20px;
    height: 15px;
}
.video-center {
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.scrollToTop{
    width:100px;
    height:130px;
    padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:40px;
    display:none;
    background: url('/images/arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
}
